<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Sectors</title>
    <script type="text/javascript" th:src="@{/static/js/main.js}"></script>
</head>
<body>

<form action="#" th:action="@{/save}" th:object="${inputData}" method="post">
    <p>Please enter your name and pick the Sectors you are currently involved in.</p>

    <label>
        Name:
        <input type="text"
               th:required="required"
               th:field="*{name}"/>
    </label><br><br>

    <label>
        Sectors:
        <select multiple size="5"
                th:required="required"
                th:insert="option-fragment.html :: option"
                th:with="optionSectorClassifications=${sectorClassifications}, optionPadding=5"
                th:field="*{sectors}">
        </select>
    </label><br><br>

    <label>
        Agree to terms
        <input type="checkbox"
               th:required="required"
               th:field="*{agreedToTerms}"/>
    </label><br><br>

    <input type="submit" value="Save"/>
</form>

</body>
</html>


<script th:inline="javascript"> // TODO Remove
    /*<![CDATA[*/

    var message = [[${sectorClassifications}]];
    console.log(message);

    /*]]>*/
</script>