<div th:fragment="option" th:each="sectorClassification : ${optionSectorClassifications}">
    <option th:text="${sectorClassification.name}"
            th:selected="${sectors?.contains(sectorClassification.id)}"
            th:value="${sectorClassification.id}"
            th:style="'padding-left: ' + ${optionPadding} + 'px'">
    </option>

    <div th:insert="option-fragment.html :: option"
         th:with="optionSectorClassifications=${sectorClassification.children}, optionPadding=${optionPadding} + 15">
    </div>
</div>
